body {
	margin: 0;
}

div.masthead{
	height: 200px;
	width: 600px;
}

div#one {
	background: red;
}

div#two {
	background: yellow;
}

div#three {
	background: blue;
}

div#four {
	background: green;
}

div.content {
	background: cyan;
	height: 2000px;
	width: 600px;
}